* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", "Helvetica", sans-serif;
  font-style: normal;
  letter-spacing: 0;
  color: #fff;

  letter-spacing: 0.3px;
  background-image: url(images/background-body.jpg);
  background-color: rgb(37, 43, 72);
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-size: 100%;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.45);
  flex-direction: column;
}
