* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", "Helvetica", sans-serif;
  font-style: normal;
  letter-spacing: 0;
  color: #fff;

  letter-spacing: 0.3px;
  background-image: url(images/background-body.jpg);
  background-color: rgb(37, 43, 72);
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-size: 100%;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.45);
  flex-direction: column;
}

.wrapper {
  display: none;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0 8px;
}

.wrapper__shop-manager {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper__menu-icon {
  background-image: url(images/sprites.webp);
  width: 2.3em;
  height: 2.1em;
  margin: 0.9em 0.6em;
  background-position: 0px -282px;
  cursor: pointer;
}

.contnet__divider {
  width: 1px;
  height: 104px;
  background-color: #bbbbbb;
}

.wrapper__logo {
  height: 99px;
  cursor: pointer;
  margin-left: 10px;
}

.wrapper__personal-management {
  display: flex;
  margin-right: 13px;
  margin-top: 20px;
  align-self: flex-start;
  gap: 6px;
}

.wrapper__registration {
  background-image: url(images/sprites-wrapper.webp);
  width: 1em;
  height: 18px;
  background-position: -24px -198px;
  margin-bottom: 5px;
  cursor: pointer;
}

.wrapper__cart::before {
  display: block;
  content: "";
  background-image: url(images/sprites.webp);
  background-position: 255px 153px;
  width: 26px;
  height: 15px;
}

.wrapper__cart {
  display: flex;
  font-size: 13px;
  font-weight: 600;
  margin: -3px 4px 0 0;
  cursor: pointer;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 1150px;
}

.header__logo {
  margin-top: 10px;
  margin-left: 0.78%;
  height: 75px;
  cursor: pointer;
}

.header__communication {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 0px;
}

.search__input {
  font-family: "Open Sans";

  padding-left: 5px;
  width: 234px;
  height: 18px;
  border: none;
  color: #484848;
  font-size: 14px;
  font-weight: 400;
}

.search__picture {
  width: 20px;
  background-image: url(images/sprites.webp);
  background-position: -3px -197px;
  border: none;
  cursor: pointer;
}
.info-for-users {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.info-for-users__log-in::before {
  display: block;
  content: "";
  background-image: url(images/sprites.webp);
  background-position: 281px 153px;
  width: 26px;
  height: 15px;
}

.info-for-users__cart::before {
  display: block;
  content: "";
  background-image: url(images/sprites.webp);
  background-position: 255px 153px;
  width: 26px;
  height: 15px;
}

.info-for-users__log-in,
.info-for-users__cart,
.info-for-users__text {
  display: flex;
  font-size: 13px;
  font-weight: 600;
  margin: -3px 4px 0 0;
  cursor: pointer;
}

.info-for-users__text:hover {
  text-decoration: underline;
}

.info-for-users__links {
  display: flex;
}

.info-for-users__picture {
  color: #ebe6dd;
  width: 17px;
  height: 15px;
  filter: invert(98%);
  margin: 0 5px 0px 0;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 234px;
  height: 31px;
  border: 1px solid #868686;
  border-radius: 0px;
  background-color: #fff;
  border-color: #959595;
  box-shadow: 0 1px 5px rgba(71, 69, 56, 0.3) inset;
  margin-left: 55px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  width: 1200px;
}

.navigation__menu {
  display: flex;
  margin-left: 230px;
}

.navigation__menu-item,
.navigation__menu-active-item {
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 7px 11px;
  font-size: 15px;
  font-weight: 600;
  margin-right: 6px;
  cursor: pointer;
}

.navigation__menu-active-item::after {
  content: "";
  display: block;
  background-image: url(images/sprites.webp);
  background-position: -152px -48px;
  width: 0.69em;
  z-index: 1;
  height: 0.65em;
  margin-top: 0.5em;
  margin-left: 0.3076923077em;
}

.navigation__classification {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 6px;
}

.navigation__classification-question {
  font-size: 10px;
  font-weight: 600;
  white-space: nowrap;
}

.navigation__classification-menu {
  font-size: 13px;
  font-weight: 600;
  color: #91db19;
  padding: 7px 7px 13px;
  white-space: nowrap;
  cursor: pointer;
}

.navigation__classification-menu:hover {
  color: #fff;
}

.catalog {
  display: flex;
  justify-content: center;
  align-items: center;
}

.catalog__information {
  display: flex;
  align-self: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1200px;
  background-color: #fff;
  padding: 39px 10px;
}

.catalog__title {
  font-size: 24px;
  font-weight: 600;
  color: #450500;
  padding: 0 0 24px;
  letter-spacing: -1px;
}

.catalog__content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.item {
  display: flex;
  flex-direction: column;
  flex-basis: 12.75em;
  text-align: center;
  margin: 0 0 13px 11px;
  cursor: pointer;
}

.item:hover .item__text,
.item:hover .item__price,
.item:hover .item__direction {
  text-decoration: underline;
}

.item__picture {
  width: 200px;
  height: 250px;
}

.item__text {
  font-size: 14px;
  font-weight: 400;
  color: #242424;
}

.item__price {
  font-size: 15px;
  font-weight: 700;
  color: #242424;
}

.item__direction {
  font-size: 13px;
  font-weight: 700;
  color: #687c22;
}

.catalog__button {
  font-size: 15px;
  background-color: #687c22;
  font-weight: 600;
  padding: 15px;
  margin-top: 25px;
}

.catalog__button:hover {
  background-color: #9ab833;
  cursor: pointer;
}

.empty-block {
  height: 2000px;
}

@media screen and (max-width: 960px) {
  .header,
  .navigation {
    display: none;
  }
  .wrapper {
    display: flex;
  }
  .item {
    flex-basis: 11em;
  }

  .item__picture {
    width: 160px;
    height: 200px;
  }
}

@media screen and (max-width: 1200px) {
  .header {
    width: 96%;
  }
  .navigation {
    width: 100%;
  }
  .catalog {
    width: 100%;
  }
}
