* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans";
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;

  letter-spacing: 0.3px;
  background-image: url(images/background-body.jpg);
  background-color: rgb(37, 43, 72);
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-size: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.45);
  padding: 0 19.75%;
}

.header__logo {
  margin-top: 10px;
  margin-left: 0.78%;
  height: 75px;
}

.header__communication {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 0px;
}

.search__image {
  width: 25px;
  height: 17px;
  padding: 1px 6px;
}

.info-for-users {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.info-for-users__log-in::before {
  display: block;
  content: '';
  background-image: url(images/sprites.webp);
  background-position: 281px 153px;
  width: 26px;
  height: 15px;
}

.info-for-users__cart::before{
  display: block;
  content: '';
  background-image: url(images/sprites.webp);
  background-position: 255px 153px;
  width: 26px;
  height: 15px;
}

.info-for-users__log-in,
.info-for-users__cart,
.info-for-users__text {
  display: flex;
  color: #fff;
  font-family: "Open Sans", "Helvetica", sans-serif;
  font-size: 13px;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 0;
  margin: -3px 4px 0 0;
}

.info-for-users__links {
  display: flex;
}

.info-for-users__picture {
  color: #ebe6dd;
  width: 17px;
  height: 15px;
  filter: invert(98%);
  margin: 0 5px 0px 0;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 234px;
  height: 31px;
  border: 1px solid #868686;
  border-radius: 0px;
  background-color: #fff;
  border-color: #959595;
  box-shadow: 0 1px 5px rgba(71, 69, 56, 0.3) inset;
  margin-left: 55px;
}

.search__input {
  padding-left: 5px;
  width: 234px;
  height: 18px;
  border: none;
  color: #484848;
  font-size: 14px;
  font-family: "Open Sans", Helvetica, sans-serif;
  font-weight: 400;
}

.search__picture {
  width: 20px;
  background-image: url(images/sprites.webp);
  background-position: -3px -197px;
  border: none;
}

.navigation {
  display: flex;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.45);
  padding: 0 18.3%;
}

.navigation__menu {
  display: flex;
  margin-left: 230px;
}

.navigation__menu-item,
.navigation__menu-active-item {
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 7px 11px;
  color: #fff;
  font-family: "Open Sans", "Helvetica", sans-serif;

  font-size: 15px;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 0;
  margin-right: 6px;
}

.navigation__menu-active-item::after {
  content: "";
  display: block;
  background-image: url(images/sprites.webp);
  background-position: -152px -48px;
  width: 0.69em;
  z-index: 1;
  height: 0.65em;
  margin-top: 0.5em;
  margin-left: 0.3076923077em;
}

.navigation__classification {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 6px;
}

.navigation__classification-question {
  color: #fff;
  font-family: "Open Sans", "Helvetica", sans-serif;
  font-size: 10px;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 0;
  white-space: nowrap;
}

.navigation__classification-small-menu {
  font-family: "Open Sans", "Helvetica", sans-serif;
  font-size: 13px;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 0;
  color: #91db19;
  padding: 7px 7px 13px;
  white-space: nowrap;
}
